
      p{
        color: black;
        font-family: Montserrat;
        text-align: center;
        
      }
      .heading{
        font-weight: bold;
        margin-bottom: 14px;
        font-size: 70px;
      }
      .mode-del{
        font-size: 32px;
      }
      
    