.video-preview {
	/* display: inline-block;
    vertical-align: top;
    margin-right: 8px; */
}
.thumbnail {
	width: 100%;
	/* height: 172px;
    object-fit: cover;
    display: block;
    margin: 0px;
    margin-left: 0px; */
}
.thumbnail-row {
	position: relative;
}
.video-time {
	font-family: Roboto, Arial;
	font-size: 12px;
	font-weight: 500;
	padding: 4px;
	border-radius: 2px;
	background-color: black;
	color: white;
	position: absolute;
	bottom: 8px;
	right: 4px;
}

.topic-video {
	/* width: 300px;ś */
	padding-top: 0px;
	margin-top: 8px;
}
.author {
	margin-bottom: 0px;
	color: #606060;
	font-size: 12px;
}
.view {
	margin-top: 4px;
	color: #606060;
	font-size: 12px;
}
.video-info-grid {
	display: grid;
	grid-template-columns: 50px 1fr;
	margin: 0px;
}
.pic {
	height: 36px;
	width: 36px;
	border-radius: 30px;
	margin-top: 8px;
	display: inline-block;
}
.profile-pic {
	/* margin-top: 16px; */
	display: inline-block;
	width: 48px;
	vertical-align: top;
}
.txt-preview {
	display: inline-block;
	width: 252px;
	vertical-align: top;
	margin-top: 0px;
	padding-top: 0px;
}
.video-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 16px;
	row-gap: 40px;
}
@media (max-width: 750px) {
	.video-grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1000px) {
	.video-grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
@media (min-width: 751px) and (max-width: 999px) {
	.video-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
